
<%= simple_form_for(@contum) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">

    <%= f.input :descricao %>

    <%= f.input :tipo %>

    <%= f.input :despesa %>

    <%= f.input :valor %>

    <%= f.input :vencimento %>

    <%= f.association :fornecedor %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
